body {
    background-image: url(table.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 100px;
}

#message-el {
    font-style: italic;
    font-size: 30px;
}

button {
    color: #016f32;
    width: 200px;
    /* height: 50px; */
    padding: 5px 5px;
    background: goldenrod;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 4px;
    margin-top: px;
}

#player-el {
    padding: 10px;
    font-size: 20px;
}